/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body{
  font-family: Helvetica, sans-serif;
  }
  
  .leagueSelect{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 3% 35%
  }
  
  h1{
    text-align: left;
    color: white;
    background-color: darkslategray;
    opacity: 0.8;
    margin: 0%;
    padding: 5% 5%;
  }
  
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  small {
      font-size: 0.5em;
    }
  
  
  .standingsTable li{
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
  .standingsTable .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .standingsTable .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .standingsTable .col-1 {
      flex-basis: 30%;
    }
    .standingsTable .col-2 {
      flex-basis: 50%;
    }
    .standingsTable .col-3 {
      flex-basis: 15%;
    }
    .standingsTable .col-4 {
      flex-basis: 15%;
    }
  
    .standingsTable .col-5 {
      flex-basis: 15%;
    }
    
    .standingsTable .col-6 {
      flex-basis: 15%;
    }
  
    .standingsTable .col-7 {
      flex-basis: 15%;
    }
  
    .standingsTable .col-8 {
      flex-basis: 15%;
    }
  
    .standingsTable .col-9 {
      flex-basis: 15%;
    }
  
    span{
      display: flex;
      justify-content: center;
      margin: 1% auto;
    }
  
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row{
        
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        
      }
      .col {
        display: flex;
        padding: 10px 0;
      }
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      
    }
  
  
  
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  